#root {
    width: 100%;
    margin: 0;
    padding: 2rem;
    text-align: left;
    min-height: 100vh;
}

.chat-layout {
    text-align: left;
    min-height: 1000vh;
    color: #ffffff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.chat-header h1 {
    margin: 0;
    text-align: left;
    font-size: 1rem;
    font-weight: 600;
    background: linear-gradient(45deg, #646cff, #747bff);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 2rem;
}