p {
    font-size: 25px;
}

.request-container {
    width: 100%;
    margin-top: 1em;
    display: flex;
    gap: 1em;
    flex-direction: column;
}

.row-container {
    background-color: #1a1a1a;
    padding: 1rem 1rem;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.username {
    font-size: 20px !important;
    color: white;
    line-height: 1.2 !important;
    display: flex;
    align-items: center;
    font-weight: 500;
}

.button-container {
    display: flex;
    gap: 1em;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.refresh-button {
    padding: 1rem 1rem;
    border: none;
    border-radius: 9px;
    cursor: pointer;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    vertical-align: middle;
    background-color: white;

}

.accept-button {
    background-color: #28a745;
    color: white;
}

.decline-button {
    background-color: #dc3545;
    color: white;
}

.bar-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}

.refresh-icon {
    width: 20px;
    height: 20px;
}

.solid {
    margin-top: 1.5rem;
    color: rgba(255, 255, 255, 0.175)
}


@media (max-width: 700px) {
    .bar-container {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    .bar-container p {
        font-size: 20px;
    }

    .request-container {
        padding-top: 1.5rem;
    }
}